<table>
  <thead>
    <tr>
      <th>№</th> <a> | </a>
      <th>Маршрут</th> <a> | </a>
      <th>Дата</th> <a> | </a>
      <th>Описание</th> <a> | </a>
      <th>Цена</th> <a> | </a>
      <th>Водитель</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of rides | appFilter: searchValue:searchField">
      <th>{{c.id}}</th> <a> | </a>
      <!--TODO переводить выбранные поездки в ваши поездки (click)="myRides('')"-->
      <td>{{c.name}}</td> <a> | </a>
      <td>{{c.date }}</td> <a> | </a>
      <td>{{c.description}}</td> <a> | </a>
      <td>{{c.price | currency:"RUB":"symbol"}}</td> <a> | </a>
      <td>{{c.author}}</td>
      <td><button (click)="onDeleteRide(c.id)">Удалить</button></td>
    </tr>
  </tbody>
</table>