<input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchValue">
<select class="findride">
  <option (click)="changeCriteria('name')">Поиск по маршруту</option>
  <option (click)="changeCriteria('date')">Поиск по дате маршрута</option>
  <option (click)="changeCriteria('price')">Поиск по цене</option>
</select>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>№</th> <a> | </a>
      <th>Маршрут</th> <a> | </a>
      <th>Дата</th> <a> | </a>
      <th>Описание</th> <a> | </a>
      <th>Цена</th> <a> | </a>
      <th>Водитель</th> <a> | </a>
      <th>Контакты</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of rides | appFilter: searchValue:searchField">
      <th>{{c.id}}</th> <a> | </a>
      <!--TODO переводить выбранные поездки в ваши поездки (click)="myRides('')"-->
      <td>{{c.name}}</td> <a> | </a>
      <td>{{c.date }}</td> <a> | </a>
      <td>{{c.description}}</td> <a> | </a>
      <td> {{c.price | currency:"RUB":"symbol"}} </td> <a> | </a>
      <td>{{c.author}}</td> <a> | </a>
      <td>{{c.contacts}}</td>
    </tr>
  </tbody>
</table>

<article class="content dashboard-page">
  <router-outlet></router-outlet>
</article>