<p>find-ride works!</p>

<input type="text" [placeholder]="searchPlaceholder" [(ngModel)]="searchValue">
<div>
  <a (click)="changeCriteria('name')">Название</a>
  <a (click)="changeCriteria('date')">Дата</a>
  <a (click)="changeCriteria('id')">Номер</a>
</div>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Описание</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of rides | appFilter: searchValue:searchField">
      <th>{{c.id}}</th>
      <td>{{c.name}}</td>
      <td>{{c.date}}</td>
      <td>{{c.description}}</td>
    </tr>
  </tbody>
</table>

<article class="content dashboard-page">
  <router-outlet></router-outlet>
</article>