<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input type="text" placeholder="Как вас зовут?" ngModel name="author" #author="ngModel" required>
  <span *ngIf="author.invalid && author.touched">
    Поле нужно заполнить
  </span>
  <input type="text" placeholder="Откуда → Куда" ngModel name="name" #name="ngModel" required>
  <span *ngIf="name.invalid && name.touched">
    Поле нужно заполнить
  </span>
  <input type="text" placeholder="Описание поездки" ngModel name="description" #description="ngModel" required>
  <span *ngIf="description.invalid && description.touched">
    Поле нужно заполнить
  </span>
  <input type="text" placeholder="Цена" ngModel name="price" #price="ngModel" required>
  <span *ngIf="price.invalid && price.touched">
    Поле нужно заполнить
  </span>
  <input type="text" placeholder="Выберите дату (dd.mm.yyyy)" ngModel name="date" #date="ngModel" required>
  <span *ngIf="date.invalid && date.touched">
    Поле нужно заполнить
  </span>
  <button class="button-auth" type="submit" [disabled]="f.invalid">Создать</button>
</form>